@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.App {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 60px;
    color: #F7FBFC;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.search {
    font-family: 'Open Sans', sans-serif, FontAwesome;
    margin-top: 2% !important;
    padding: 30px !important;
    border-radius: 20px !important;
    font-size: 20px !important;
    margin: 0 auto !important;
    width: 80% !important;
}

.formInput {
    border-radius: 10px !important;
    height: 40px !important;
    appearance: auto !important;
    background-color: #F7FBFC !important;
}

body {
    text-decoration: none !important;
    margin: 0;
    font-family: 'Raleway', sans-serif !important;
    background-color: #2A5A7F !important;
    color: #F7FBFC !important;
    animation: fadeInAnimation ease 1.5s !important;
    font-size: 16px !important;
}

.nav {
    animation: fadeInAnimation ease 1.5s !important;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.topnav {
    padding: 10px;
    height: 70px;
    background-color: #0A1B26;
}

.link {
    color: #F7FBFC;
    float: left;
    text-align: center;
    padding: 14px 16px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.link:hover {
    color: #F7FBFC;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    text-decoration: none;
    border: 1px solid #16344A;
    border-radius: 10px;
    background-color: #16344A
}

.glyphicon-search {
    position: absolute !important;
    font-size: 25px;
    top: 25% !important;
}

.searchSkater {
    margin-top: 5%;
    padding: 50px;
}

.searchTitle {
    text-align: center;
    font-size: 75px;
    margin: 20px;
}

.carousel {
    top: 200px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.activeNav {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border: 1px solid #16344A;
    border-radius: 10px;
    background-color: #2A5A7F;
    color: #F7FBFC !important;
    text-decoration: none !important;
}

.elementnav {
    width: 20% !important;
    height: 65% !important;
}

.filters {
    padding: 30px;
    width: 75%;
    margin: auto !important;
}

.sidenav {
    height: 50%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    border-left: 1px solid;
    /* overflow-x: hidden; */
    margin-top: 10%;
    /* margin-right: 5%; */
    display: flex;
    /* min-height: 100%; */
}

.discDetail {
    color: #F7FBFC !important;
    float: left;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    border: 1px solid transparent;
    width: 100%;
    text-decoration: none !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.discDetail:hover {
    color: #F7FBFC !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    text-decoration: none !important;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    margin-top: 70px;
}

.sidenav li {
    padding: 0;
    margin-top: 0px;
    list-style-type: none;
    line-height: 1.2em;
}

.disciplineTitle {
    font-size: 85px;
    height: 85px;
    display: block;
}

.discipline {
    margin: 50px;
    padding: 50px;
    height: 100% !important;
}

.disciplines {
    margin-top: 150px;
    width: 80%;
}

.overview {
    font-size: 16px;
    text-align: justify;
}

.element-header {
    font-size: 25px;
    text-align: center;
}

.container {
    border-spacing: 15px;
    margin: 0;
}

.elements {
    display: table-row;
    table-layout: fixed;
}

.element {
    display: table-cell;
    font-size: 15px;
    border: solid 1px;
    border-radius: 10px;
    padding: 5%;
    width: 50%;
}

tr {
    color: #F6F6F6;
    text-align: center;
}

.table {
    width: 93% !important;
    margin: 0 auto;
}

.attribute {
    border: solid 1px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 0px;
    padding: 20px;
}

.elementTitle {
    font-size: 75px;
    height: 75px;
}

.require {
    padding: 10px 16px;
    font-size: 17px;
    margin: 5px;
    background-color: #16344A;
    border-radius: 5px !important;
    color: #F6F6F6;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.require:hover {
    color: #F6F6F6;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    background-color: #0A1B26;
}

.required {
    margin-bottom: 30px;
}

.athleteTable {
    width: 80% !important;
    margin: 0 auto;
}


/* .athleteTable tr:hover {
    background-color: #56776c !important;
} */

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #16344A;
    color: #F6F6F6;
    cursor: pointer;
}

.head {
    font-size: 20px;
    font-weight: bolder;
}

.athleteTD {
    width: 33.33% !important
}

.noResults {
    text-align: center !important;
    color: #F6F6F6;
    font-size: 20px;
}

select {
    color: #16344A !important;
}