@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.App {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 60px;
    color: #F7FBFC;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.search {
    font-family: 'Open Sans', sans-serif, FontAwesome;
    margin-top: 2% !important;
    padding: 30px !important;
    border-radius: 20px !important;
    font-size: 20px !important;
    margin: 0 auto !important;
    width: 80% !important;
}

.formInput {
    border-radius: 10px !important;
    height: 40px !important;
    appearance: auto !important;
    background-color: #F7FBFC !important;
}

body {
    text-decoration: none !important;
    margin: 0;
    font-family: 'Raleway', sans-serif !important;
    background-color: #224866 !important;
    color: #F7FBFC !important;
    animation: fadeInAnimation ease 1.5s !important;
    font-size: 16px !important;
}

.nav {
    animation: fadeInAnimation ease 1.5s !important;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.topnav {
    padding: 10px;
    height: 70px;
    background-color: #0A1B26;
}

.link {
    color: #F7FBFC;
    float: left;
    text-align: center;
    padding: 14px 16px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.link:hover {
    color: #F7FBFC;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    text-decoration: none;
    border: 1px solid #16344A;
    border-radius: 10px;
    background-color: #16344A
}

.glyphicon-search {
    position: absolute !important;
    font-size: 25px;
    top: 25% !important;
}

.searchSkater {
    margin-top: 6%;
    padding: 50px;
}

.searchTitle {
    text-align: center;
    font-size: 75px;
    margin: 20px;
}

.home {
    width: 105%;
    margin-left: -1%;
}

.activeNav {
    font-weight: bold;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border: 1px solid #16344A;
    border-radius: 10px;
    background-color: #224866;
    color: #F7FBFC !important;
    text-decoration: none !important;
}

.elementnav {
    width: 20% !important;
    height: 65% !important;
}

.filters {
    padding: 30px;
    width: 75%;
    margin: auto !important;
}

.sidenav {
    height: 50%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    border-left: 1px solid;
    /* overflow-x: hidden; */
    margin-top: 10%;
    /* margin-right: 5%; */
    display: flex;
    /* min-height: 100%; */
}

.discDetail {
    color: #F7FBFC !important;
    float: left;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    border: 1px solid transparent;
    width: 100%;
    text-decoration: none !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.discDetail:hover {
    color: #F7FBFC !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    text-decoration: none !important;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

.sidenav li {
    padding: 0;
    margin-top: 0px;
    list-style-type: none;
    line-height: 1.2em;
}

.disciplineTitle {
    font-size: 75px;
    height: 75px;
    display: block;
}

.discipline {
    margin: 20px;
    padding-top: 5%;
    padding: 2%;
    height: 100% !important;
}

.disciplines {
    margin-top: 150px;
    width: 80%;
}

.overview {
    font-size: 16px;
    text-align: justify;
}

.element-header {
    font-size: 25px;
    text-align: center;
    /* text-transform: uppercase; */
}

.discContainer {
    border-top: 1px solid;
    margin: 0;
    border-color: lightgray;
}

.elements {
    display: table-row;
    table-layout: fixed;
}

.line {
    border-bottom: 1px solid;
    border-color: lightgray;
}

.element {
    display: table-cell;
    font-size: 15px;
    /* border: solid 1px; */
    /* border-radius: 10px; */
    padding: 2.5%;
    width: 50%;
}

tr {
    color: #F6F6F6;
    text-align: center;
    /* border: #0A1B26 */
}

.table {
    width: 93% !important;
    margin: 0 auto;
}

.attribute {
    border: solid 1px;
    border-radius: 10px;
    margin: 12px;
    margin-bottom: 0px;
    padding: 20px;
}

.elementTitle {
    font-size: 75px;
    height: 75px;
}

.require {
    padding: 10px 16px;
    font-size: 17px;
    margin: 5px;
    background-color: #16344A;
    border-radius: 5px !important;
    color: #F6F6F6;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.require:hover {
    color: #F6F6F6;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    background-color: #0A1B26;
}

.required {
    margin-bottom: 30px;
}

.athleteTable {
    width: 80% !important;
    margin: 0 auto;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #16344A;
    color: #F6F6F6;
    cursor: pointer;
}


/* .head {
    font-size: 20px;
    font-weight: bolder;
} */

.noResults {
    text-align: center !important;
    color: #F6F6F6;
    font-size: 20px;
}

select {
    color: #16344A !important;
}

.skaterDetail {
    margin-top: 5%;
}

.firstName {
    font-size: 300%;
    font-weight: bold;
    margin: 0;
}

.lastName {
    font-size: 5vw;
    font-weight: bold;
    margin: 0;
}

.flag {
    float: left;
    margin-top: 20px;
    max-width: 30%;
}

.flagName {
    /* float: left;
    font-size: 175%;
    margin-left: 10%;
    margin-top: 12%;
    font-weight: bold; */
    float: left;
    font-size: 175%;
    margin-left: 10%;
    margin-top: 10%;
    font-weight: bold;
}

.skaterInfo {
    margin-top: 7%;
}

.profile_card {
    width: 95% !important;
    margin: 0 auto;
}

.skaterTop {
    display: inline-block;
}

.skaterBlurb {
    width: 30%;
}

.skaterRank {
    width: 35%;
    text-align: center;
}

.standingHeader {
    font-size: 250%;
    margin: 0;
    font-weight: bold;
}

.standingNum {
    font-size: 600%;
    font-weight: bold;
}

.space {
    width: 10%;
}

.blurbDetail {
    float: left;
    text-align: center !important;
    width: 33.33%;
    font-size: 18px;
}

.blurbTwo {
    float: left;
    text-align: center !important;
    width: 50%;
    font-size: 18px;
}

.blurbDisc {
    border-left: solid 1.5px;
}

.skatingSince {
    border-left: solid 1.5px;
}

.blurbTitle {
    margin: 0;
    font-weight: bold;
}

.blurb {
    margin-top: 10%;
}

.nav-tabs {
    border-color: transparent !important;
}

.nav-link {
    color: #F6F6F6 !important;
    border-color: transparent !important;
    text-decoration: none !important;
    background-color: #16344A !important;
}

.nav-link:hover {
    background-color: #11293B !important;
}

.nav-item {
    width: 20%;
    text-align: center;
    margin-right: .5%;
}

.nav-link.active {
    font-weight: bold;
    background-color: #0A1B26!important;
    border-color: transparent !important;
}

img {
    max-width: 100%;
}

.skaterImg {
    width: 25% !important;
    padding-right: 5%;
    padding-top: 1%;
    min-height: 400px !important;
    vertical-align: middle;
}

.name {
    height: 50%;
}

.aboutDetail {
    display: table-cell;
    font-size: 15px;
    padding: 5%;
}

.tab {
    background-color: #0A1B26 !important;
    border-radius: 0px .25rem .25rem .25rem;
    margin-bottom: 5%;
}

.profileTitle {
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: solid 2px;
}

.bio {
    text-align: justify;
    width: 60%;
}

.aboutOverview {
    width: 40%;
}

.profileHeader {
    text-align: left;
    vertical-align: top;
    width: 40%;
}

.profileDetail {
    text-align: left;
    padding: 0;
    margin: 0;
    padding-bottom: 7%;
}

.profileTable {
    table-layout: fixed;
    width: 100%;
}

.profileDetail ol {
    margin: 0;
    padding-bottom: 2px;
}

.achievementTitle {
    text-align: center;
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
}

.achievement {
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.achievements {
    width: 75% !important;
}

.achievementTab {
    padding-top: 5%;
}

#react-slick {
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.d-block {
    margin: auto;
    border-radius: 10px;
    width: 60% !important
}

.carousel-indicators li {
    margin-right: 16px !important;
}

.carousel-indicators {
    margin: auto !important;
    bottom: -5% !important;
}

.intro {
    padding-left: 5%;
    padding-right: 58%;
    text-align: justify;
    font-size: 15px;
}

.welcome {
    margin-top: -2% !important;
    padding-bottom: 1%;
    padding-left: 5%;
    font-size: 90px;
    margin: 0px;
    text-align: left;
}

.vid {
    padding-top: 9%;
    z-index: -1;
    position: relative;
    padding-bottom: 50%;
    height: 0;
}

.vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

.homePage {
    z-index: 1;
    position: relative;
}

.retired {
    font-size: 15px;
    margin-top: 5px;
}

.medal {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    color: #0A1B26;
    margin-right: 10px;
}

.gold {
    background: #FFCE03
}

.silver {
    background: #D8D8D8
}

.bronze {
    background: #CD8251
}

.medalDetail {
    display: flex
}

.compDetail {
    font-size: 13px;
}

.compTD,
.compTH {
    background-color: #16344A !important;
    border: 2px solid #0A1B26 !important;
    vertical-align: middle !important;
}

.profilePic {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.athleteResult {
    float: left;
    display: flex;
}

.athleteDiscipline {
    text-align: left;
    margin: 0;
}

.athleteRepresenting {
    text-align: left;
    display: flex;
    padding-top: 5px;
}

.athleteName {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: left
}

.picWrapper {
    margin: 5px;
}

.profileWrapper {
    margin: 10px;
    margin-left: 50px;
}

.athleteFlag {
    width: 40px;
    margin-left: 10px;
}

.partner {
    text-align: left;
    z-index: 1;
    margin: 0px;
}

.partner:hover {
    text-decoration: underline;
    cursor: pointer;
}

.personLink {
    text-decoration: underline;
    text-decoration-color: gray;
}

.personLink:hover {
    font-weight: bold;
    cursor: pointer;
}

.partners {
    display: flex;
    margin-top: 5px;
}

.arrows {
    margin: 20px;
    margin-top: 40px;
}

.glyphicon-menu-right {
    margin-left: 20px;
    font-size: 25px;
}

.glyphicon-menu-left {
    margin-right: 20px;
    font-size: 25px;
}

.arrow-right {
    float: right;
    display: flex;
    color: #11293B;
}

.arrow-right:hover {
    cursor: pointer;
    color: white;
}

.arrow-right:hover .suggestedRight {
    font-weight: bold;
    color: white;
}

.arrow-left {
    float: left;
    display: flex;
    color: #11293B;
}

.arrow-left:hover {
    cursor: pointer;
    color: white;
}

.arrow-left:hover .suggestedLeft {
    font-weight: bold;
    color: white;
}

.suggestedRight,
.suggestedLeft {
    color: transparent;
    margin-top: 2px !important;
}

.medalTD {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    line-height: 24px;
    text-align: center;
    color: #0A1B26;
    margin: auto;
}

.glyphicon-arrow-left {
    font-size: 30px;
    padding-left: 5px;
}

.backArrow {
    font-size: 50px;
    color: #0A1B26;
}

.backArrow:hover {
    cursor: pointer;
    color: white;
}

.slamDesc {
    font-size: 12px;
}

.superSlam {
    font-size: 12px;
}

.superSlam:hover {
    background-color: #16344A !important;
    cursor: pointer;
}

.disciplineVid {
    height: 591px;
    margin-top: 51px;
    margin-bottom: 51px;
}

.elementGif {
    display: inline-block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.elementSrc {
    margin: 0 auto;
}

.elementDescription {}

.gif {
    display: inline-block;
    vertical-align: middle;
    width: 58% !important;
    margin-left: 30px;
    font-size: 15px;
}

.jumpGif {
    width: 58% !important;
    margin-left: 30px;
    float: right;
    margin-top: 6%;
    font-size: 15px;
}

.jump {
    margin-bottom: 30px;
}

.jumps {
    display: inline-block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: absolute
}

.jumpDesc {
    height: 800px;
    margin-bottom: 80px;
}